<!doctype html>
<html lang="en">
  <head>
    <title>OCL Social Tech Fellowship</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Facebook Open Graph -->

    <meta property="og:url"                content="https://fellowship.ocl.space" />
    <meta property="og:title"              content="OCL Social Tech Fellowship" />
    <meta property="og:description"        content="" />
    <meta property="og:image"              content="" />

    <link rel="shortcut icon" href="https://ocl.space/assets/img/favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Open+Sans:700,400|Source+Code+Pro:400" />
    
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    
    
  </head>
  <body style='font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;'>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #fff; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="img/ocl_logo.svg" style="height: 25px;">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Program</a></li>
            <li><a href="#">Apply</a></li>
            <!-- <li><a href="#">Log In</a></li> -->
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid" style="">

      <!-- <div class="row">

        <div class="col-md-12" style="padding-left: 0; padding-right: 0;"> -->
          <div class="box" style="margin-left: 0; padding-right: 0;">
            <img class="img-responsive" src="img/fellowship_home.jpg" alt="OCL Social Tech Fellowship" />
            <div class="img-title">
              <h1 style='color: #fff; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;'>OCL Social Tech Fellowship</h1>
            </div>
          </div>
        <!-- </div>
        
      </div> -->

      <div class="row" id="" style="margin-top: 50px;">

        <div class="col-md-3"></div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!-- <p class="date">April 7, 2018</p> -->
          <!-- <p class="title">
            OCL Social Tech Fellowship
          </p> -->

          <!-- <img class="ctnt" src="img/ocl_ideathon_web.png"> -->

          <p class="para">
            An intensive 7 week virtual program focusing on parallel tracks like technology, design, research & community building around social impact project with Opencube Labs.
          </p>

          <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
            <div class="col-md-4 text-center">
              <p style="font-size: 3.5em; font-weight: bold;">50</p>
              <p>Fellows</p>
            </div>
            <div class="col-md-4 text-center">
              <p style="font-size: 3.5em; font-weight: bold;">4</p>
              <p>Tracks</p>
            </div>
            <div class="col-md-4 text-center">
              <p style="font-size: 3.5em; font-weight: bold;">7</p>
              <p>Weeks</p>
            </div>
          </div>

          <p class="subtitle">
            WHAT TO EXPECT?
          </p>

          <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
            <div class="col-md-4 text-center">
              <p style="font-size: 2.5em; font-weight: bold;">
                <i class="fa fa-university"></i>
              </p>
              <p>Skilling</p>
            </div>
            <div class="col-md-4 text-center">
              <p style="font-size: 2.5em; font-weight: bold;">
                <i class="fa fa-line-chart"></i>
              </p>
              <p>Experience</p>
            </div>
            <div class="col-md-4 text-center">
              <p style="font-size: 2.5em; font-weight: bold;">
                <i class="fa fa-certificate"></i>
              </p>
              <p>Recognition</p>
            </div>
          </div>

          <p class="subtitle">
            HOW IT WORKS?
          </p>

          <p class="subtitle">
            PROGRAM ELIGIBILITY
          </p>

          <p>
            <ul style='font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif; font-size: 1.2em; color: #222;'>
              <li>Programming and mathematics background</li>
              <li>UG/PG students, recent graduates, working professionals</li>
              <li>Passion and commitment towards solving challenging problems</li>
            </ul>
          </p>

          <p class="subtitle">
            WHY BE PART OF THIS PROGRAM?
          </p>

          <p class="subtitle">
            WHAT'S AFTER THE FELLOWSHIP?
          </p>

          <p>
            <ul style='font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif; font-size: 1.2em; color: #222;'>
              <li>Continue working on the project you are associated with</li>
              <li>Mentor new contributors</li>
              <li>Start and manage a local chapter</li>
            </ul>
          </p>

          <hr class="footer">
          <p class="" style="text-align: center;">
            © 2019 Copyright Opencube Labs (<a href="//ocl.space">http://ocl.space</a>). Made with <i class="fa fa-heart" style="color: red;"></i> in India. 
            <a href="//twitter.com/opencubelabs" style="color: #1DA1F2;font-size: 1.2em;"><i class="fa fa-twitter-square"></i></a>
            <a href="//fb.com/opencubelabs" style="color: #3B5998;font-size: 1.2em;"><i class="fa fa-facebook-square"></i></a>
            <a href="https://www.linkedin.com/company/opencube-labs/" style="color: #0077B5;font-size: 1.2em;"><i class="fa fa-linkedin-square"></i></a>
          </p>
          <p style="text-align: center;">
            <a href="#">Privacy Policy</a>
            <a href="#">Code of Conduct</a>
          </p>
        </div>
        <div class="col-md-3"></div>

      </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43349874-8', 'auto');
      ga('send', 'pageview');

    </script>
    
  </body>
</html>